<div class="modal">
    <div class="modal-header">
        {{title}}
        <img src="{{IMG_X}}" class="x-button" (click)="closeModal(true)">
    </div>
    <form class="modal-body">
        <!-- Conditional Form Content -->
        <div *ngIf="!isSignup; else signupForm">
            <div class="input-field half-input">
                <label for="username">Username</label>
                <input class="input" id="username" name="username" type="text" [(ngModel)]="username" required>
            </div>
    
            <div class="input-field half-input" style="margin-top: 12px">
                <label for="password">Password</label>
                <input class="input" id="password" name="password" type="password" [(ngModel)]="password" required>
            </div>

            <div class="button-holder">
                <div class="cancel-button" id="cancel" (click)="closeModal(true)">
                    Cancel
                </div>
                <div class="confirm-button" id="submit" (click)="login()">
                    Login
                </div>
                <div class="switch-button" id="signupSwitch" (click)="toggleSignup()">
                    Don't have an account?<br>Sign up
                </div>
            </div>
        </div>
    
        <!-- Signup Form (Triggered by isSignup) -->
        <ng-template #signupForm>
            <div class="input-field half-input">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" [(ngModel)]="username" required>
            </div>
    
            <div class="input-field half-input" style="margin-top: 12px">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" [(ngModel)]="password" required>
            </div>
    
            <div class="button-holder">
                <div class="cancel-button" id="cancel" (click)="closeModal(true)">
                    Cancel
                </div>
                <div class="confirm-button" id="submit" (click)="signup()">
                    Sign Up
                </div>
                <div class="switch-button" id="loginSwitch" (click)="toggleSignup()">
                    Already have an account?<br>Login
                </div>
            </div>
        </ng-template>
    </form>
</div>