<header>
    <h1>Welcome to Fantasy Graps!</h1>
</header>

<section class="intro">
    <h1>What is Fantasy Graps?</h1>
    <p>Fantasy Graps is an online game where participants manage a virtual roster made up of real professional wrestlers.
        Points are earned based on the wrestlers' real-world performance in matches and presence on the show. You compete against other players' fantasy teams 
        throughout a season to win the league!</p>
</section>

<section class="content">
    <h2>Fantasy Sports Scoring Breakdown</h2>
    <p>Each fantasy sport has its own unique scoring system. Below, we break down the typical categories for scoring and how you can earn points:</p>

    <!-- Example scoring categories -->
    <div class="category">
        <h2>Match Scoring</h2>
        <ul>
            <li><span>Win:</span> +2 points for winning a match.</li>
            <li><span>Finisher:</span> +0.75 points for each "finisher" used within a match.</li>
            <li><span>Interference:</span> +0.5 points for interfering in a match</li>
            <li><span>Kickout:</span> +0.25 points for each successful kickout or submission escape within a match.</li>
            <li><span>Pin:</span> +0.20 points for each pin attempt within a match.</li>
        </ul>
    </div>

    <div class="category">
        <h2>General Scoring</h2>
        <ul>
            <li><span>Return:</span> +15 points for a wrestler returning after being away for more than 8 weeks.</li>
            <li><span>Turn:</span> +10 points for a wrestler turning.</li>
            <li><span>Character Change:</span> +5 points for debuting a new character.</li>
            <li><span>Commentary:</span> +3 points for a wrestler being on commentary.</li>
            <li><span>Match:</span> +3 points for participating in a match.</li>
            <li><span>Crossover:</span> +2 points for a wrestler being in another promotion.</li>
            <li><span>Social Media:</span> +1 point per 10,000 interactions on social media during week of show.</li>
            <li><span>Segment:</span> +0.25 points per minute of segment wrestler is involved in.</li>
        </ul>
    </div>
    <div class="category">
        <h2>How It Works</h2>
        <ol>
            <li>Sign up and create your roster with My Team.</li>
            <li>Pick your favorite wrestlers, but remember to be mindful of your budget!</li>
            <li>Track your roster's progress on the Leaderboard.</li>
            <li>???</li>
            <li>Win the Season!</li>
        </ol>
    </div>
    <div class="category">
        <h2>FAQ</h2>
        <div class="faq-item">
            <h3>How do I make trades or pickups?</h3>
            <p>Currently, you cannot make trades with other players, but you are able to add/drop wrestlers in the My Team tab.</p>
        </div>
        <div class="faq-item">
            <h3>When are points updated?</h3>
            <p>Points are updated as the shows are airing. Points are refreshed on the website every five minutes.</p>
        </div>
        <div class="faq-item">
            <h3>What happens if my wrestler gets injured or is unavailable?</h3>
            <p>If a wrestler is injured or unavailable, then you are able to drop that wrestler and add another at no cost. Just make sure to keep an eye for the return bonus.</p>
        </div>
        <div class="faq-item">
            <h3>Can I change my team name?</h3>
            <p>Yes! In the My Team tab, just click on the team name to change your team's name whenever you'd like.</p>
        </div>
        <div class="faq-item">
            <h3>How do I win?</h3>
            <p>The goal is to have your roster score the most points by the end of the season. Points are earned through your roster's performance.</p>
        </div>
        <div class="faq-item">
            <h3>How long is a season?</h3>
            <p>There are four seasons:</p>
            <ul>
                <li>January-April | WrestleMania Season</li>
                <li>April-July | All In Season</li>
                <li>July-October | SummerSlam Season</li>
                <li>October-January | World's End Season</li>
            </ul>
        </div>
    </div>
    
</section>

<!-- <footer>
    <p>&copy; 2025 Fantasy Sports League - All Rights Reserved</p>
</footer> -->