<ng-template #modalHolder></ng-template>

<div class="group-title">
  <div class="header">
    <span class="title" (click)="openEditTeamModal()">{{teamName}}</span>
  </div>
</div>

<div class="table-div">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        name
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="promotion">
      <th mat-header-cell *matHeaderCellDef>
        promotion
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Promotion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="division">
      <th mat-header-cell *matHeaderCellDef>
        division
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Division}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>
        Show Date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Show_Date}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>
        total
      </th>
      <td mat-cell *matCellDef="let element"> {{element.Total}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="openWrestlerModal(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>