<div class="sidebar-item link" (click)="navigateToPage('')">Home</div>
<div class="sidebar-item link" (click)="navigateToPage('/leaderboard')">Leaderboard</div>
<div class="sidebar-item link" (click)="navigateToPage('/leagues')">Leagues</div>
<div class="sidebar-item link" *ngIf="loggedIn" (click)="navigateToPage('/myTeam')">My Team</div>
<div class="sidebar-item link" *ngIf="loggedIn" (click)="navigateToPage('/draft')">Draft</div>
<div class="sidebar-item link" (click)="navigateToPage('/wrestlers')">Wrestlers</div>
<div class="sidebar-item link" *ngIf="loggedIn" (click)="logout()">Logout</div>
<div class="sidebar-item link" *ngIf="!loggedIn" (click)="openLoginModal()">Login/Signup</div>
<a class="sidebar-item link" href="https://forms.gle/ghhqaFNyjAxdZfAW7" target="_blank">Feedback Form</a>

