@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    //font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-family: "Poppins", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

button, table {
    font-family: "Poppins", "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

input {
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 20px;
    color: #333;
    transition: all 0.3s ease;
}

label {
    font-weight: 500;
    font-size: 18px;
}

.basic-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

/***************************Snackbar CSS Start********************************/

.mat-simple-snackbar {
    font-size: 1.2em;
    color: white;
}

.snackbar-error {
    background-color: red;
}

.snackbar-success {
    background-color: green;
}

.snackbar-info {
    background-color: blue;
}

/***************************Snackbar CSS End*********************************/