$topbar-height: 100px;
$sidebar-width: 290px;

//$modal-height: 625px;
//$modal-height: fit-content;
$modal-width: 1125px;

// Background color for the dot in top-bar
$dot-background: #ffffff;


$theme-gray-8: #000000;
$theme-gray-7: #161616;
$theme-gray-6: #44494c;
$theme-gray-5: #585757;
$theme-gray-4: #969696;
$theme-gray-3: #E8E8E8;
$theme-gray-2: #F8F8F8;
$theme-gray-1: #F9F9F9;
$theme-gray-0: #ffffff;

// just for fun - a red theme
$theme-color-dark-5: #5c0b0b;
$theme-color-dark-4: #851313;
$theme-color-dark-3: #830c0c;
$theme-color-dark-2: rgba(131, 46, 46, 0.425); // 57.5% transparent
$theme-color-dark-1: #ae1b1b;
$theme-color: #c80909;
$theme-color-light-1: #ff5a5aab; // ~30% transparent
$theme-color-light-2: #dc5858;
$theme-color-light-3: #f37a7a;
$theme-color-light-4: #ff8f8f;
$theme-color-light-5: #faa4a4;
$theme-color-light-6: #f3c4c4;
$theme-color-light-7: #fce4e4;
$theme-color-light-8: rgb(255, 240, 240);